.KidsBox {
    background-image: url(../../images/kids.jpg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}
.WomenBox {
    background-image: url(../../images/women.jpg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}
.MenBox {
    background-image: url(../../images/men.jpg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}
